.demo {
    margin: 2rem;
    border: 1px solid #3f3f41;
    padding: 2rem;
}

.demo-tile {
    font-size: 2rem;
}

.demo-container {
    /* background-color: #fff; */
    /* color: #000; */
    margin: 1rem 0;
    padding: 1rem;
}
